@keyframes fadeBounce {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    40%{
        transform: translateY(0);
    }

    55% {
        transform: translateY(-6px);
    }

    70% {
        transform: translateY(0);
    }

    85% {
        transform: translateY(-3px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    color : orange;
    text-align : center;
    background-color : beige;
    width : 50%;
}

body {
    background-color : ivory;
    font-family : helvetica;
    background:url(../images/bg1.jpg) left top repeat-x, #FFF url(../images/bg1.jpg) left bottom repeat-x;
}

.maincontainer {
    width : 1200px;
    margin-left : auto;
    margin-right : auto;
}

.center {
    width : 60%;
    float : left;
}

.sidebar {
    width : 40%;
    float : left;
}

@media screen and (max-width:700px) {
    .center, .siderbar {
        width: auto;
        float: none;
    }

    .maincontainer {
        width: 480px;
    }
}

.imagebanner {
    position : relative;
    overflow: hidden;
}

.imagebanner img {
    width : 100%;
    display : block;
    transition-property: all;
    transition-duration: 2s;
}

.imagedescription {
    font-family : Verdana, Geneva, Tahoma, sans-serif;
    font-size : medium;
    position : absolute;
    bottom : 0;
    left : 0;
    background-color : rgba(0, 0, 0, .5);
    color : #FFF;
    width : 100%;
    padding : 10px 20px;
    box-sizing : border-box;
    transform: translatey(100%);
    opacity: 0;
    transition-property: all;
    transition-duration: 2s;
}

.imagebanner:hover .imagedescription {
    transform: translatey(0);
    opacity: 1;
}

.imagebanner:hover img {
    transform: scale(1.5);
}

.site-nav {
    position : relative;
    margin : 0px;
}

.site-nav ul {
    margin : 0px;
    padding : 0px;
}
.site-nav li {
    list-style : none;
    float : left;
    margin-right : 5px;
}

.site-nav a {
    display : block;
    text-decoration : none;
    color : green;
    padding : 10px 20px;
    border : 3px solid green;
    opacity: 0;
    animation: fadeBounce 1s forwards;
}

nav > ul > div:nth-child(1) > li > a {
    animation-delay: .5s;
}
nav > ul > div:nth-child(2) > li > a { 
    animation-delay: 1s; 
}
nav > ul > div:nth-child(3) > li > a { 
    animation-delay: 1.5s; 
}

.site-nav a:hover {
    background-color : rgba(0,0,0,.5);
    color: #FFF;
}

fieldset {
    background-image: linear-gradient(to right, #c5eadc, #FFF);
    animation-name: fadeBounce;
    animation-duration: 1s;
    color : hotpink;
}

.testlabel {
    font-size : small;
    color : gray;
    margin-top : 0px;
    margin-bottom: 20px;
    display: block;
}

.content1 {
    color : rgb(42, 167, 240);
    letter-spacing : 4px;
    word-spacing : 10px;
    text-shadow : 2px 10px 0 rgba(0,0,0,.2);
    text-transform : uppercase;
    text-decoration : underline;
    text-align : center;
    text-indent : 25px;
    line-height : 1.5;
}

.container {
    margin-top : 20px;
    border-top : 3px solid black;
    border-bottom : 3px solid black;
}

.box-a {
    background-color : lightgray;
    width : 66%;
    float : left;
}

.box-b {
    width : 34%;
    float : left;
    border-bottom: 3px solid black;
}

.fix {
    clear : both;
}

table th {
    text-align : left;
    background-color : #869960;
    color : #FFF;
    text-shadow : 1px solid rgba(0,0,0,.4);
}

table th, td {
    padding : 10px;
    border : 1px solid #869960;
}

table {
    border-spacing : 0;
    border-collapse :  collapse;
    width : 100%;
}

table tbody tr:nth-child(odd) td {
    background-color : #e9e9e9;
}

table tr:nth-child(0), 
table tr:nth-child(1) {
    text-align : right;
}

table .sampletable {
    vertical-align : top;
    color : #FFF;
}

input[type="email"] {
    width : 100%;
    display : block;
    box-sizing : border-box;
    padding : 0px 10px;
    height : 40px;
    color : red;
}

form {
    background-color : #ececec;
    padding : 30px 40px;
}

.hidden-label {
    position : absolute;
    height : 0;
    width : 0;
    overflow : hidden;
    visibility : hidden;
}

input[type="email"]:focus,
input[type="email"]:hover {
    border : 1px solid #869960;
    box-shadow : inset 2px 2px 2px rgba(0, 0, 0, .13);
}

input[type="button"] {
    width : 100%;
    display : block;
    box-sizing : border-box;
    background-color : #869960;
    color : #FFF;
    padding : 10px 0px;
    border : 1px solid #798a56;
    border-radius : 3px;
    margin-bottom: 0px;
}

input[type="button"]:hover,
input[type="button"]:focus {
    border : 1px solid #535e38;
    background-color : #798a56;
}

footer {
    text-align : center;
    font-size : small;
    color : rgba(0,0,0,.5);
    margin-top : 30px;
    margin-bottom: 100px;
}

.mainpanel {
    max-width : 1200px;
    margin : 40px auto 0 auto;
    padding : 20px 50px;
    display: flex;
}

.leftpanel {
    flex: 1;
    background-color:burlywood;
    padding: 20px 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 10%;
    transform: skewy(-25deg) skewx(15deg) translate(-100px, 50px);
    transition-property: all;
    transition-duration: 2s;

}

.leftpanel:hover {
    background-color:ghostwhite;
    color:hotpink;
    transform: translate(100px, 50px) scale(2);

}

.centerpanel {
    flex: 3;
    order: 0;
    background-color:cornflowerblue;
    padding: 20px 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 10px 10px 25px 25px;
    transform: rotate(25deg);
    box-shadow: inset 2px 10px 10px rgba(0,0,0,.5), 2px 10px 10px #000;
}

.rightpanel {
    flex: 1;
    background-color:darksalmon;
    padding: 20px 20px;
    margin-right: 20px;
    flex-wrap : wrap;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 10px 25px;
    transform: scale(0.5);
    opacity: 0.2;
    transition-property: opacity scale;
    transition-duration: 2s;
}

.rightpanel:hover {
    opacity: 1;
    transform: scale(1.5);
}

/* javascript */
.slide {
    position: relative;
    margin-bottom: 100px;
}

.slide img {
    width: 100%;
    display: block;
}

.slide-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}

.cycle-prev, .cycle-next {
    position: absolute;
    top: 30%;
    background-color: rgba(0,0,0,.35);
    color: #FFF;
    padding: 1px 10px;
    display: block;
    cursor: pointer;
    font-size: 130%;
    z-index: 1000;
    opacity: 0;
    transition-property: opacity; 
    transition-duration: .5s;
}

.cycle-next {
    right: 0;
}

.cycle-slideshow:hover .cycle-prev,
.cycle-slideshow:hover .cycle-next {
    opacity: 1;
}

.cycle-pager {
    position: absolute;
    top: 20px;
    z-index: 1003;
    width: 100%;
    text-align: center;
}

.cycle-pager span {
    text-indent: -9999px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFF;
    margin: 0 4px;
    cursor: pointer;
}

.cycle-pager .cycle-pager-active {
    background-color: gray;
}

.slide-text a{
    transition: all .2s ease-in-out;
}

.slide-text a:hover {
    transform: rotate(45deg);
    color: blue;
}
.btn-a {
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #365267;
    color: #FFF;
    font-size: 84%;
    margin-left: 10px;
}

.btn-a:hover {
    background-color: #FFF;
    /*color: #365267; */
}

/* test button */
.testbutton {
    border : 1px solid black;
    background-color:brown;
    color: #FFF;
    padding: 20px 20px;
    font-size:large;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s;
}

.testbutton:hover, .testbutton:focus {
    transform: rotate(-45deg) scale(0.5) translatex(500px);
    background-color: #FFF;
    color:rgb(42, 167, 240);
}