h1 {
    color : orange;
    text-align : center;
    background-color : beige;
    width : 50%;
}

body {
    background-color : ivory;
}

.maincontainer {
    width : 1200px;
    margin-left : auto;
    margin-right : auto;
}

.center {
    width : 60%;
    float : left;
}

.sidebar {
    width : 40%;
    float : left;
}

.imagebanner {
    position : relative;
}

.imagebanner img {
    width : 100%;
    display : block;
}

.imagedescription {
    font-family : Verdana, Geneva, Tahoma, sans-serif;
    font-size : medium;
    position : absolute;
    bottom : 0;
    left : 0;
    background-color : rgba(0, 0, 0, .5);
    color : #FFF;
    width : 100%;
    padding : 10px 20px;
    box-sizing : border-box;
}

.site-nav {
    position : relative;
    margin : 0px;
}

.site-nav ul {
    margin : 0px;
    padding : 0px;
}
.site-nav li {
    list-style : none;
    float : left;
    margin-right : 5px;
}

.site-nav a {
    display : block;
    text-decoration : none;
    color : green;
    padding : 10px 20px;
    border : 3px solid green;
}

.site-nav a:hover {
    background-color : lightgray;
}

.content1 {
    color : rgb(42, 167, 240);
}

fieldset {
    color : hotpink;
}

.container {
    margin-top : 20px;
    border-top : 3px solid black;
    border-bottom : 3px solid black;
}

.box-a {
    background-color : lightgray;
    width : 66%;
    float : left;
}

.box-b {
    width : 34%;
    float : left;
    border-bottom: 3px solid black;
}

.fix {
    clear : both;
}