h1 {
    color : orange;
    text-align : center;
    background-color : beige;
    width : 50%;
}

body {
    background-color : ivory;
    font-family : helvetica;
    background:url(../images/bg1.jpg) left top repeat-x, #FFF url(../images/bg1.jpg) left bottom repeat-x;
}

.maincontainer {
    width : 1200px;
    margin-left : auto;
    margin-right : auto;
}

.center {
    width : 60%;
    float : left;
}

.sidebar {
    width : 40%;
    float : left;
}

.imagebanner {
    position : relative;
}

.imagebanner img {
    width : 100%;
    display : block;
}

.imagedescription {
    font-family : Verdana, Geneva, Tahoma, sans-serif;
    font-size : medium;
    position : absolute;
    bottom : 0;
    left : 0;
    background-color : rgba(0, 0, 0, .5);
    color : #FFF;
    width : 100%;
    padding : 10px 20px;
    box-sizing : border-box;
}

.site-nav {
    position : relative;
    margin : 0px;
}

.site-nav ul {
    margin : 0px;
    padding : 0px;
}
.site-nav li {
    list-style : none;
    float : left;
    margin-right : 5px;
}

.site-nav a {
    display : block;
    text-decoration : none;
    color : green;
    padding : 10px 20px;
    border : 3px solid green;
}

.site-nav a:hover {
    background-color : rgba(0,0,0,.5);
    color: #FFF;
}

fieldset {
    background-image: linear-gradient(to right, #c5eadc, #FFF);
}

.testlabel {
    font-size : small;
    color : gray;
    margin-top : 0px;
    margin-bottom: 20px;
    display: block;
}

.content1 {
    color : rgb(42, 167, 240);
    letter-spacing : 4px;
    word-spacing : 10px;
    text-shadow : 2px 10px 0 rgba(0,0,0,.2);
    text-transform : uppercase;
    text-decoration : underline;
    text-align : center;
    text-indent : 25px;
    line-height : 1.5;
}

fieldset {
    color : hotpink;
}

.container {
    margin-top : 20px;
    border-top : 3px solid black;
    border-bottom : 3px solid black;
}

.box-a {
    background-color : lightgray;
    width : 66%;
    float : left;
}

.box-b {
    width : 34%;
    float : left;
    border-bottom: 3px solid black;
}

.fix {
    clear : both;
}

table th {
    text-align : left;
    background-color : #869960;
    color : #FFF;
    text-shadow : 1px solid rgba(0,0,0,.4);
}

table th, td {
    padding : 10px;
    border : 1px solid #869960;
}

table {
    border-spacing : 0;
    border-collapse :  collapse;
    width : 100%;
}

table tbody tr:nth-child(odd) td {
    background-color : #e9e9e9;
}

table tr:nth-child(0), 
table tr:nth-child(1) {
    text-align : right;
}

table .sampletable {
    vertical-align : top;
    color : #FFF;
}

input[type="email"] {
    width : 100%;
    display : block;
    box-sizing : border-box;
    padding : 0px 10px;
    height : 40px;
    color : red;
}

form {
    background-color : #ececec;
    padding : 30px 40px;
}

.hidden-label {
    position : absolute;
    height : 0;
    width : 0;
    overflow : hidden;
    visibility : hidden;
}

input[type="email"]:focus,
input[type="email"]:hover {
    border : 1px solid #869960;
    box-shadow : inset 2px 2px 2px rgba(0, 0, 0, .13);
}

input[type="button"] {
    width : 100%;
    display : block;
    box-sizing : border-box;
    background-color : #869960;
    color : #FFF;
    padding : 10px 0px;
    border : 1px solid #798a56;
    border-radius : 3px;
    margin-bottom: 0px;
}

input[type="button"]:hover,
input[type="button"]:focus {
    border : 1px solid #535e38;
    background-color : #798a56;
}

footer {
    text-align : center;
    font-size : small;
    color : rgba(0,0,0,.5);
    margin-top : 30px;
    margin-bottom: 100px;
}

.mainpanel {
    max-width : 1200px;
    margin : 40px auto 0 auto;
    padding : 20px 50px;
    display: flex;
}

.leftpanel {
    flex: 1;
    background-color:burlywood;
    padding: 20px 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 10%;
    transform: skewy(-25deg) skewx(15deg) translate(-100px, 50px);
    transition-property: all;
    transition-duration: 2s;

}

.leftpanel:hover {
    background-color:ghostwhite;
    color:hotpink;
    transform: translate(100px, 50px) scale(2);

}

.centerpanel {
    flex: 3;
    order: 0;
    background-color:cornflowerblue;
    padding: 20px 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 10px 10px 25px 25px;
    transform: rotate(25deg);
}

.rightpanel {
    flex: 1;
    background-color:darksalmon;
    padding: 20px 20px;
    margin-right: 20px;
    flex-wrap : wrap;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 10px 25px;
    transform: scale(0.5);
}